* {
    margin: 0;
    padding: 0;
    outline: none;
}

a {
    text-decoration: none;
}

html {
    width: 100%;
}

body {
    width: 100%;
}

.conteiner-big-adaptive {
    max-width: 1400px;
    margin: 0 auto;
}

header {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 110px 0 80px 0;
}

header div {
    text-align: center;
}

.mother_line {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 0 0 30px 0;
}



.line {
    width: 65px;
    height: 2px;
    background-color: rgb(255, 153, 51);
}

h1 {
    font-size: 36px;
    text-transform: uppercase;
    margin: 0 0 30px 0;
}

main {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 0 0 107px 0;


}

main div {
    text-align: center;
    width: 355px;
    margin: 0 32px 0 0;
}

main i {
    color: black;
}

main img {
    margin: 0 0 30px 0;
}

.my-font-size {
    font-size: 70px;
    margin: 0 0 31px 0;
}

.name-theme {
    font-size: 20px;
    font-weight: 700;
    margin: 0 0 33px 0;
}

.another-baground {
    width: 100%;
    height: 319px;
    background-image: url('../img/one.jpg');
    background-size: cover;
    display: flex;
    justify-content: center;
    /*padding: 75px 0 0 0;*/

}

.dark {
    width: 100%;
    height: 319px;
    background-color: black;
    opacity: 0.7;
}

.z {
    position: relative;
    z-index: 10;
}

.line_white {
    width: 65px;
    height: 2px;
    background-color: white;
}

.another-baground div {
    text-align: center;

}

.mother_line_white {
    display: flex;
    justify-content: center;
    margin: 0 0 36px 0;
}

.another-baground div p {
    color: white;
}

a {
    color: white;
}

.download-button:hover {
    color: rgb(255, 153, 51);
}

.second-name-theme {
    font-size: 36px;
    text-transform: uppercase;
    margin: 75px 0 30px 0;
}

.general_text {
    margin: 0 0 36px 0;
}

button {
    width: 133px;
    height: 42px;
    background: transparent;
    border: 1px solid white;
    color: white;
    font-size: 15px;
    font-weight: 500;

}

.contact-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 110px 0 80px 0;
}

.contact-form .header-form {
    width: 80%;
    margin: 0 auto;
    text-align: center;


}

.contact_line {
    width: 65px !important;
    display: inline-block;
    height: 2px;
    background-color: rgb(255, 153, 51);
    margin: 0 0 32px 0 !important;

}

form {
    width: 80%;
    padding: 95px 0 0 0;
}

.left-form {
    width: 45%;
    min-height: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.right-form {
    width: 45%;
}

.input-block {
    width: 100%;
    min-height: 120px;
    display: flex;
    justify-content: space-between;
}

.left-form input {
    width: 100%;
    border: 0;
    border-bottom: 1px solid #d6d6d6;
}

.right-form textarea {
    width: 100%;
    min-height: 120px;
    border: 0;
    border-bottom: 1px solid #d6d6d6;
    resize: none;
}

.button-submit {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 43px 0 0 0;
}

.button-submit input {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    background-color: #ff8c2d;
    color: white;
    opacity: 0.8;
}

.button-submit input:hover {
    color: black;
    opacity: 1;
}

footer {
    width: 100%;
    height: 100px;
    background: black;
    display: flex;
    justify-content: center;
    padding: 40px 0 0 0;
}



.social-icon {
    color: rgb(204, 204, 204);
    font-size: 25px;
    display: flex;
    justify-content: center;
    margin: 0 0 15px 0;
}

i {
    color: rgb(204, 204, 204);

}

.social-icon a i:hover {
    color: rgb(255, 153, 51);
}

a:not(:last-child) {
    margin: 0 32px 0 0;
}



.author {
    text-align: center;
}

.pricing_options {
    width: 100%;
    background-color: #f5f5f5;
    display: flex;
    align-items: center;
    padding: 110px 0 97px 0;
    flex-direction: column;
}

.pricing_options div p {
    text-align: center;
}


h2 {
    font-size: 30px;
    text-transform: uppercase;
    margin: 0 0 30px 0;
    text-align: center;
}

.countener-price {
    width: 90%;
    background-color: #f5f5f5;
    margin: 80px 0 0 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

}

.column {
    width: 345px;

}

.column div {
    width: 100%;
    padding: 15px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #f5f5f5;
    font-size: 15px;
    text-transform: uppercase;

}

.another-color {
    color: #95969a;
}

span {
    font-size: 60px;
}


.column div:nth-child(2) {
    height: 100px;
}

.column div:nth-child(4) {
    height: 5px;
}

.column div {
    background-color: #ffffff;
    border-bottom: 1px solid #f5f5f5;
}

.column .black {
    background-color: #303030;
}

.column .orange {
    background-color: #ff8c2d;
}

.column div:last-child {
    border: none;
}

.column div:nth-child(3) {
    border: none;
}

.column div:nth-child(4) {
    border: none;
}

.big div:nth-child(4) {
    height: 40px;
}

.column div:nth-child(3) p {
    font-style: italic;
    opacity: 0.7;
}

.column div:nth-child(2) p {
    font-weight: bold;
}



@media (max-width: 480px) {

    main {
        flex-direction: column;
    }

    main div {
        width: 100%;
        margin: 0 0 30px 0;
    }

    .second-name-theme {
        margin: 20px 0 30px 0;
    }

    .countener-price {
        width: 100%;
    }

    .column {
        width: 90%;
    }

    .input-block {
        flex-direction: column;
        align-items: center;
    }

    .right-form {
        width: 100%;
    }

    .left-form {
        width: 100%;
        margin: 0 0 60px 0;
    }

}

@media (max-width: 1125px) {
    .countener-price {
        flex-direction: column;
        align-items: center;
    }

    .column {
        padding: 0 0 50px 0;

    }
}

@media (min-width: 480px) and (max-width: 1125px) {
    .column {
        width: 80%;
    }
}